# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^assets/img/stats/
      - id: end-of-file-fixer
        exclude: ^assets/img/stats/
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx --no-install prettier . --check
        language: system
        always_run: true
        pass_filenames: false
